.chart-plot-background {
    -fx-background-color: transparent;
}

.default-color0.chart-series-line {
    -fx-stroke: grey;
}

.default-color0.chart-line-symbol {
    -fx-background-color: grey, white;
}

.chart-title{
    -fx-font-size: 15px;
    -fx-wrap-text : true;
    -fx-alignment : center;
}
